@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/*****************************************loading page ******************************************/



/******************************************NAV BAR /*********************************************/


nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 100px;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 888;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}

/******************************************************************************************/
/******************************************************************************************/
/******************************************************************************************/
.section1 {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(46, 46, 46, 0.363), rgba(0, 0, 0, 0.6)), url(image/Aménagement\ de\ salle\ de\ bain.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(100%); /* Start off-screen to the right */
    transition: all 0.7s ease-in-out;
    animation: slideIn 1s ease-in-out forwards; /* Apply animation */
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); /* Move to the original position */
    }
}

.content-About h1 {
    color: #f5f5f5;
    font-family: Georgia, serif;
    text-align: center;
}

.content-About button {
    background-color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-size: 19px;
    margin: 10px 5px;
    border: 1px solid #f5f5f5;
}

.content-About button:hover {
    background-color: transparent;
    color: #f5f5f5;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .section1 {
        height: 60vh;
        padding: 40px 20px;
        background-position: center;
        background-size: cover;
    }

    .content-About h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .content-About button {
        font-size: 16px; /* Adjust button size for smaller screens */
    }
}
/***************************************************************************
/***************************************************************************
/***************************************************************************/

        /********************Section 2 *******************/
        .section2 {
            width: 100%;
            min-height: 100vh;
        }
        
        .content-about {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            opacity: 0; /* Initially hidden */
            transform: translateX(-100px); /* Initially positioned off-screen */
            transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        }
        
        .container-about {
            width: 50%;
        }
        
        .img-about {}
        
        .img-about img {
            width: 400px;
            margin-top: 40px;
            border: #000000 1px solid;
            padding: 10px;
            transition: transform 0.3s;
        }
        
        .img-about img:hover {
            transform: scale(1.05) translateX(5px);
        }
        
        /* Media queries for responsiveness */
        @media (max-width: 768px) {
            .content-about {
                flex-direction: column;
                text-align: center;
            }
        
            .container-about,
            .img-about {
                width: 100%;
            }
        
            .img-about img {
                width: 100%;
                margin-top: 20px;
            }
        }
        
        /* Animation for scrolling */
        .visible {
            opacity: 1;
            transform: translateX(0);
        }

        
        /******************************************************************************/
        /******************************************************************************/
        /******************************************************************************/

        /******************************Footer*****************************************/

        .footer-distributed{
            background: #666;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
            box-sizing: border-box;
            width: 100%;
            text-align: left;
            font: bold 16px sans-serif;
            padding: 55px 50px;
          }
          
          .footer-distributed .footer-left,
          .footer-distributed .footer-center,
          .footer-distributed .footer-right{
            display: inline-block;
            vertical-align: top;
          }
          
          /* Footer left */
          
          .footer-distributed .footer-left{
            width: 40%;
          }
          
          /* The company logo */
          
          .footer-distributed h3{
            color:  #ffffff;
            font: normal 36px 'Open Sans', cursive;
            margin: 0;
          }
          
          .footer-distributed h3 span{
            color:  lightseagreen;
          }
          
          /* Footer links */
          
          .footer-distributed .footer-links{
            color:  #ffffff;
            margin: 20px 0 12px;
            padding: 0;
          }
          
          .footer-distributed .footer-links a{
            display:inline-block;
            line-height: 1.8;
            font-weight:400;
            text-decoration: none;
            color:  inherit;
          }
          
          .footer-distributed .footer-company-name{
            color:  #222;
            font-size: 14px;
            font-weight: normal;
            margin: 0;
          }
          
          /* Footer Center */
          
          .footer-distributed .footer-center{
            width: 35%;
          }
          
          .footer-distributed .footer-center i{
            background-color:  #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
          }
          
          .footer-distributed .footer-center i.fa-envelope{
            font-size: 17px;
            line-height: 38px;
          }
          
          .footer-distributed .footer-center p{
            display: inline-block;
            color: #ffffff;
            font-weight:400;
            vertical-align: middle;
            margin:0;
          }
          
          .footer-distributed .footer-center p span{
            display:block;
            font-weight: normal;
            font-size:14px;
            line-height:2;
          }
          
          .footer-distributed .footer-center p a{
            color:  lightseagreen;
            text-decoration: none;;
          }
          
          .footer-distributed .footer-links a:before {
            content: "|";
            font-weight:300;
            font-size: 20px;
            left: 0;
            color: #fff;
            display: inline-block;
            padding-right: 5px;
          }
          
          .footer-distributed .footer-links .link-1:before {
            content: none;
          }
          
          /* Footer Right */
          
          .footer-distributed .footer-right{
            width: 20%;
          }
          
          .footer-distributed .footer-company-about{
            line-height: 20px;
            color:  #92999f;
            font-size: 13px;
            font-weight: normal;
            margin: 0;
          }
          
          .footer-distributed .footer-company-about span{
            display: block;
            color:  #ffffff;
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 20px;
          }
          
          .footer-distributed .footer-icons{
            margin-top: 25px;
          }
          
          .footer-distributed .footer-icons a{
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color:  #33383b;
            border-radius: 2px;
          
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
          
            margin-right: 3px;
            margin-bottom: 5px;
          }
          
          .footer-icons i{
            transition: 0.2s;
          }
          .footer-icons i:hover{
            transform: scale(1.50);
          }
          /* If you don't want the footer to be responsive, remove these media queries */
          
          @media (max-width: 880px) {
          
            .footer-distributed{
              font: bold 14px sans-serif;
            }
          
            .footer-distributed .footer-left,
            .footer-distributed .footer-center,
            .footer-distributed .footer-right{
              display: block;
              width: 100%;
              margin-bottom: 40px;
              text-align: center;
            }
          
            .footer-distributed .footer-center i{
              margin-left: 0;
            }
          
          }




